{% extends "base.html" %}

{% block page_name %}
    books
{% endblock page_name %}
    
{% block content %}
<div>
  <h2>Books</h2>
  {% for book in books %}
  <div>
    <h3><a href="{% url 'books:book' book.pk %}">{{book.title}}</a></h3>
    <h5>{{book.year}}</h5>
  </div>
  {% endfor %}
<hr />
</div>
<div>
  {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">Previous</a>
    {% endif %}

    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

    {% if page_obj.has_next  %}
        <a href="?page={{page_obj.next_page_number}}">Next</a>
    {% endif %}
</div>
{% endblock content %}