{% extends 'base.html' %}


{% block page_name %}
    movies
{% endblock page_name %}
    
{% block content %}
<ul>
    {% for movie in movies %}
        <li>
            <h4>{{movie.title}}</h4>
        </li>
        <li>
            {{movie.year}}
        </li>
        <li>
            {{movie.cover_image}}
        </li>
        <li>
            {{movie.rating}}
        </li>
        <li>
            {{movie.category}}
        </li>
        <li>
            {{movie.director}}
        </li>
        <li>
            {{movie.cast}}
        </li>
    {% endfor %}
</ul>
{% endblock content %}
