{% extends 'base.html' %}


{% block page_name %}
    books
{% endblock page_name %}
    
{% block content %}
<ul>
    {% for book in books %}
        <li>
            <h4>{{book.title}}</h4>
        </li>
        <li>
            {{book.year}}
        </li>
        <li>
            {{book.cover_image}}
        </li>
        <li>
            {{book.rating}}
        </li>
        <li>
            {{book.category}}
        </li>
        <li>
            {{book.writer}}
        </li>
    {% endfor %}
</ul>
{% endblock content %}
    
